/* (edit style.css for your own book styles) */

.book.font-family-1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.book .book-body .page-wrapper .page-inner section,
.book .book-body .page-wrapper .page-inner section.normal {
  line-height: 1.6;
}

code, pre, 
.book .book-body .page-wrapper .page-inner section.normal code, 
.book .book-body .page-wrapper .page-inner section.normal pre {
  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
  background-color: rgb(190, 190, 190);
}

.figure img, p img {
  min-width: 200px;
}
.figure img + img, p img + img {
  margin-left: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal code.path,
.book .book-body .page-wrapper .page-inner section.normal code.package {
  background-color: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  font-size: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal code::before,
.book .book-body .page-wrapper .page-inner section.normal code::after {
  content: none;
}

.book .book-body .page-wrapper .page-inner section.normal code.path { 
  font-style: italic;
}
.book .book-body .page-wrapper .page-inner section.normal code.package { 
  font-weight: 800; 
  color: #666;
}

.book.color-theme-2 a.glossary, .book.color-theme-2 a:visited.glossary {
  color: #aca4e0 !important;
}

a.glossary { 
  font-weight: 600;
}

.webex-solveme.webex-incorrect { 
  background-color: #edaddd; 
}
.webex-solveme.webex-correct { 
  background-color: #c0edc2; 
}

.header-section-number {
  color: #666;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}