/* styles to make more of the app skin-themed */

:root {
  --grey: rgb(34,45,50);
  --red: rgb(221, 75, 57);
  --yellow: rgb(243, 156, 18);
  --green: rgb(0, 166, 90);
  --blue: rgb(60, 141, 188);
  --purple: rgb(96, 92, 168);
  
  --tgrey: rgba(34,45,50,.5);
  --tred: rgba(221, 75, 57,.5);
  --tyellow: rgba(243, 156, 18,.5);
  --tgreen: rgba(0, 166, 90,.5);
  --tblue: rgba(60, 141, 188,.5);
  --tpurple: rgba(96, 92, 168,.5);
}

body {
  font-size: 16px;
}

ul.sidebar-menu {
  font-size: 120%;
}

/* fix bug with 100% textArea width */
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

/* colored menu icons */
.sidebar-menu .fa { color: white; }
.skin-red .sidebar-menu .fa { color: var(--red); }
.skin-yellow .sidebar-menu .fa { color: var(--yellow); }
.skin-green .sidebar-menu .fa { color: var(--green); }
.skin-blue .sidebar-menu .fa { color: var(--blue); }
.skin-purple .sidebar-menu .fa { color: var(--purple); }

/* valueBox and infoBox bg */
.skin-red .bg-aqua { background-color: var(--red) !important; }
.skin-yellow .bg-aqua { background-color: var(--yellow) !important; }
.skin-green .bg-aqua { background-color: var(--green) !important; }
.skin-blue .bg-aqua { background-color: var(--blue) !important; }
.skin-purple .bg-aqua { background-color: var(--purple) !important; }

/* tabBox selected tab */
.skin-red .nav-tabs-custom > .nav-tabs > li.active { border-top-color: var(--red); }
.skin-yellow .nav-tabs-custom > .nav-tabs > li.active { border-top-color: var(--yellow); }
.skin-green .nav-tabs-custom > .nav-tabs > li.active { border-top-color: var(--green); }
.skin-blue .nav-tabs-custom > .nav-tabs > li.active { border-top-color: var(--blue); }
.skin-purple .nav-tabs-custom > .nav-tabs > li.active { border-top-color: var(--purple); }

/* better collapsible box headers */
.box-header {
  padding: 0 10px 0 0;
}

.box-header h3 {
  width: 100%;
  padding: 10px;
}

.box-solid h3.box-title,
.box-solid .box-header,
.box-solid .btn-box-tool .fa,
.box-solid .btn-box-tool:hover .fa,
.box-solid .open .btn-box-tool .fa {
  color: white;
  font-weight: 800;
}

.box-solid {
  border: 1px solid var(--grey);
  border-radius: 3px;
}

.box-solid .box-header {
  border-left-color: var(--grey);
  background-color: var(--grey);
}

.skin-purple .box-solid {
  border-color: var(--purple);
}
.skin-red .box-solid {
  border-color: var(--red);
}
.skin-blue .box-solid {
  border-color: var(--blue);
}
.skin-green .box-solid {
  border-color: var(--green);
}
.skin-yellow .box-solid {
  border-color: var(--yellow);
}

.skin-purple .box-solid .box-header {
  border-left-color: var(--purple);
  background-color: var(--purple);
}
.skin-red .box-solid .box-header  {
  border-left-color: var(--red);
  background-color: var(--red);
}
.skin-blue .box-solid .box-header {
  border-left-color: var(--blue);
  background-color: var(--blue);
}
.skin-green .box-solid .box-header {
  border-left-color: var(--green);
  background-color: var(--green);
}
.skin-yellow .box-solid .box-header {
  border-left-color: var(--yellow);
  background-color: var(--yellow);
}

/* action button skins */
.action-button {
  background-color: var(--grey);
  color: white;
  font-weight: bold;
}
.skin-purple .action-button { background-color: var(--purple); }
.skin-red .action-button { background-color: var(--red); }
.skin-blue .action-button { background-color: var(--blue); }
.skin-green .action-button { background-color: var(--green); }
.skin-yellow .action-button { background-color: var(--yellow); }

