ul.sidebar-menu {
  font-size: 1.5em;
}

.box-header {
  padding: 0 10px 0 0;
}

.box-header h3 {
  width: 100%;
  padding: 10px;
}

.action-button {
  background-color: #605CA8;
  color: white;
  font-weight: bold;
}