:root {
  --purple: rgb(96, 92, 168);
  --red: rgb(221, 75, 57);
  --blue: rgb(60, 141, 188);
  --green: rgb(0, 166, 90);
  --yellow: rgb(243, 156, 18);
  --grey: rgb(34,45,50);
  
  --tpurple: rgba(96, 92, 168,.5);
  --tred: rgba(221, 75, 57,.5);
  --tblue: rgba(60, 141, 188,.5);
  --tgreen: rgba(0, 166, 90,.5);
  --tyellow: rgba(243, 156, 18,.5);
  --tgrey: rgba(34,45,50,.5);
}

table.radio-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

table.radio-table.select-view thead, 
table.radio-table.select-view td.radio-button,
table.radio-table.select-view .radio-label{
  display: none;
}

table.radio-table.select-view th.radio-toggle {
  display: block;
}

table.radio-table td, table.radio-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table.radio-table td+td, table.radio-table th+th { 
  text-align: center; 
}

table.radio-table tr:nth-child(even){background-color: #f2f2f2;}

td.radio-button:hover { background-color: #ddd; }
td.radio-button.checked { background-color: var(--tgrey); }
.skin-purple td.radio-button.checked { background-color: var(--tpurple); }
.skin-red td.radio-button.checked    { background-color: var(--tred); }
.skin-blue td.radio-button.checked   { background-color: var(--tblue); }
.skin-green td.radio-button.checked  { background-color: var(--tgreen); }
.skin-yellow td.radio-button.checked { background-color: var(--tyellow); }

table.radio-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--grey);
  color: white;
}

.skin-purple table.radio-table th { background-color: var(--purple); }
.skin-red table.radio-table th    { background-color: var(--red); }
.skin-blue table.radio-table th   { background-color: var(--blue); }
.skin-green table.radio-table th  { background-color: var(--green); }
.skin-yellow table.radio-table th { background-color: var(--yellow); }

table.radio-table .shiny-input-container {
  display: none;
}

table.radio-table.select-view .shiny-input-container {
  display: block;
}